@mixin raleway($fs, $fw, $lh) {
  font-weight: $fw;
  font-size: $fs;
  font-family: Raleway, sans-serif;
  line-height: $lh;
}

@mixin flex($align, $justify, $gap: null, $direction: null) {
  display: flex;
  align-items: $align;
  justify-content: $justify;

  @if $direction {
    flex-direction: $direction;
  }

  @if $gap {
    gap: $gap;
  }
}
