@import 'shared/styles/mixins';

.words {
  @include flex(center, center);
  width: 700px;
  height: 50px;
  margin: auto;
  margin-bottom: 50px;

  transition: 0.3s ease;
}

.word_container,
.word_field_container {
  position: relative;

  width: 100%;
}

.word {
  position: relative;
  z-index: 2;

  box-sizing: border-box;
  height: 51px;
  margin-right: -1px;
  padding: 10px;
  border: 1px solid black;

  white-space: nowrap;
  text-shadow: 2px 2px 5px rgb(0 0 0 / 50%);

  cursor: pointer;

  transition: 0.3s ease;

  @include raleway(1rem, 700, 28px);

  &:hover {
    opacity: 0.8;
  }
}

.invisible_word {
  animation: blink 1s;
  animation-direction: reverse;
  animation-fill-mode: forwards;
}

.word_background {
  background: rgb(197 133 115);
}

.puzzle-piece {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 51px;
}

.word_correct {
  border: none;

  box-shadow: green 0 0 12px 0 inset;
}

.word_incorrect {
  border: none;

  box-shadow: red 0 0 12px 0 inset;
}

.locked {
  pointer-events: none;
}

.info {
  position: absolute;
}

@media screen and (width <= 860px) {
  .words {
    position: relative;
    left: 0;
  }
}
